<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="productName" placeholder="product Name">
        <input type="text" name="productPrice" placeholder="product Price">
        <input type="text" name="productQuantity" placeholder="product Quantity">
        <input type="text" name="productDescription" placeholder="product Description">


        <button type="submit">Submit</button>
    </form>
</body>
</html>